<footer class="footer py-2 mt-auto text-dark " style="background-color: rgba(0,0,0,0.2);">
    <div class="container text-center">
        <span class="text-muted">&copy; 2022 Copyright: <span class="text-dark">CampCircle</span> </span>
    </div>
</footer>