<% layout("layouts/boilerplate") -%>

    <section class="background-radial-gradient overflow-hidden">
        <style>
            .background-radial-gradient {
                background-color: hsl(218, 41%, 15%);
                background-image: radial-gradient(650px circle at 0% 0%,
                        hsl(218, 41%, 35%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,
                        transparent 100%),
                    radial-gradient(1250px circle at 100% 100%,
                        hsl(218, 41%, 45%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,
                        transparent 100%);
            }
        </style>
        <div class="container py-6">
            <section class="vh-100">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-xl-10">
                            <div class="card " style="border-radius: 1rem;">
                                <div class="row g-0">
                                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                                        <img src="https://images.unsplash.com/photo-1537905569824-f89f14cceb68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FtcGluZ3xlbnwwfHwwfHw%3D&w=1000&q=80"
                                            alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                                            crossorigin />
                                    </div>
                                    <div class="col-md-6 col-lg-7 d-flex align-items-center"
                                        style="border-radius: 1rem;">
                                        <div class="card-body p-4 p-lg-5 text-black">
                                            <form action="/login" method="POST" novalidate class="needs-validation">

                                                <div class="d-flex align-items-center mb-3 pb-1">
                                                    <span class="h1 fw-bold mb-0">Log In</span>
                                                </div>

                                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into
                                                    your
                                                    account</h5>

                                                <div class="form-outline mb-4">
                                                    <input class="form-control form-control-lg" type="text"
                                                        id="username" name="username" required />
                                                    <label class="form-label" for="username">Username</label>
                                                    <!-- <div class="valid-feedback">
                                                Looks good!
                                            </div> -->
                                                </div>

                                                <div class="form-outline mb-4">
                                                    <input class="form-control form-control-lg" type="password"
                                                        id="password" name="password" required />
                                                    <label class="form-label" for="password">Password</label>
                                                    <!-- <div class="valid-feedback">
                                                Looks good!
                                            </div> -->
                                                </div>

                                                <div class="pt-1 mb-4">
                                                    <!-- <button class="btn btn-info">Submit</button> -->
                                                    <button class="btn btn-dark btn-lg btn-block">Login</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>